<!-- About -->
<main class="about">
  <div class="container about__wrapper">
    <section class="about__personal">
      <div class="about__personal__profile-picture">
        <div class="about__personal__profile-picture__wrapper">
          <img src="assets/images/profile.jpg" alt="Profile Image">
        </div>
      </div>
      <div class="about__personal__info">
        <div class="about__personal__info__text">
          <h3>Pandu Wijaya</h3>
          <p>Fullstack Web Developer</p>
          <p>Kepulauan Riau, Indonesia</p>
        </div>
        <div class="about__personal__info__social">
          <a href="mailto:panduwijayasaputra@gmail.com">
            <svg>
              <use xlink:href="assets/images/icon.svg#icon-envelope"></use>
            </svg>
          </a>
          <a href="https://wa.me/6282172573757" target="blank">
            <svg>
              <use xlink:href="assets/images/icon.svg#icon-whatsapp"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/pandu-wijaya-426b26172/" target="blank">
            <svg>
              <use xlink:href="assets/images/icon.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://www.instagram.com/panduwijayasaputra/" target="blank">
            <svg>
              <use xlink:href="assets/images/icon.svg#icon-instagram"></use>
            </svg>
          </a>
          <a href="https://web.facebook.com/panduwijaya28" target="blank">
            <svg>
              <use xlink:href="assets/images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="https://github.com/panduwijayasaputra" target="blank">
            <svg>
              <use xlink:href="assets/images/icon.svg#icon-github"></use>
            </svg>
          </a>

        </div>
      </div>
    </section>
    <section class="about__content">
      <div class="about__content__title">
        <h4>About Me</h4>
      </div>
      <div class="about__content__text">
        <p>Hi! My name is Pandu Wijaya, a fullstack web developer from Indonesia. I have over 5 years of hands-on work
          experiencein back-end development with well design architecture and front-end development from ideas to
          great products.
        </p>
        <p>I’m extremely passionate about web development and design in all it’s forms and helping small businesses
          and artisans build and improve their online presence.</p>
      </div>
      <div class="about__content__title">
        <h4>Education</h4>
      </div>
      <div class="about__content__text">
        <h4>STMIK-AMIK Riau University</h4>
        <p>Pekanbaru, Indonesia <br>
          Computer Science / Informatics <br>
          Graduated in 2015
        </p>
      </div>
      <div class="about__content__title">
        <h4>Skills Summary</h4>
      </div>
      <div class="about__content__text skills">
        <div class="skills__item">
          <h4>Backend</h4>
          <ul>
            <li>ASP .Net Core MVC</li>
            <li>ASP .Net Core Web API</li>
            <li>Entity Framework Core</li>
            <li>Git & Github</li>
          </ul>
        </div>
        <div class="skills__item">
          <h4>Frontend</h4>
          <ul>
            <li>HTML5</li>
            <li>CSS3 / SASS</li>
            <li>Bootstrap / Materialize</li>
            <li>JavaScript / jQuery</li>
            <li>TypeScript / Angular</li>
          </ul>
        </div>
        <div class="skills__item">
          <h4>Software</h4>
          <ul>
            <li>Visual Studio</li>
            <li>Visual Studio Code</li>
            <li>Adobe Photoshop</li>
            <li>Adobe Illustrator</li>
            <li>Adobe XD</li>
            <li>Corel Draw</li>
          </ul>
        </div>
        <div class="skills__item">
          <h4>Database</h4>
          <ul>
            <li>MSSQL Server</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>Google Firebase</li>
          </ul>
        </div>
      </div>
    </section>
    <a [routerLink]="['/contact']" class="btn">Get in Touch</a>
  </div>
</main>

<app-footer></app-footer>