// Portfolio
.portfolio {
  padding: 3rem 0;
  min-height: calc(100vh - 120px);
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      flex-basis: 100%;
      height: 300px;
      margin-bottom: 1rem;
      overflow: hidden;
      position: relative;

      @media ($tablet-potrait) {
        flex-basis: 48%;
      }

      @media ($tablet-landscape) {
        flex-basis: 31%;
      }

      &__action {
        display: none;
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        color: $smoke-white;

        &__cta {
          display: flex;
          justify-content: center;

          & > a {
            cursor: pointer;
            width: 60px;
            height: 60px;
            background-color: $blue-sky;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 1rem;

            & > svg {
              width: 25px;
              height: 25px;
              fill: $smoke-white;
            }
          }
        }
      }

      &:hover > &__action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
      }

      img {
        border: 1px solid rgba($grey, .6);
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center top;
        background-color: $blue-sky;
      }
    }


  }

  button {
    margin-top: 2rem;
  }
}

.lb-dataContainer {
  position: absolute;
  top: 0;
  right: 20px;
}