@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: normal;
  src: local('Foco'), url('../fonts/FOCO.woff') format('woff');
  }

@font-face {
  font-family: 'Foco Light';
  font-style: normal;
  font-weight: normal;
  src: local('Foco Light'), url('../fonts/FOCOLIGHT.woff') format('woff');
  }

@font-face {
  font-family: 'Foco Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Foco Bold'), url('../fonts/FOCOBOLD.woff') format('woff');
  }